%body
  = render 'layouts/flash'
  = yield
  .wrapper
    .chat-side
      .side-header
        %p.side-header__username
          = current_user.name
        %ul.user-menu
          %li.user-menu__edit-user
            = link_to "#" do
              %i.fa.fa-edit
          %li.user-menu__new-group
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog
      .groups
        = render partial: "group"
    .chat-main
      .main-header
        .current-group
          %h2.current-group__name group2
          %ul.member-list
            member:
            %li.member-list__member username2
            %li.member-list__member username1
        = link_to "#" do
          .main-header__edit-btn Edit
      .messages
        = render partial: "message"
      .form
        %form.new-message#new_message{action: "#", enctype: "multipart/form-data", method: "post"}
          .input-box
            %input.input-box__text#message_content{type: "text", placeholder: "type a message",name: "message[content]"}
            %label.image-label{for: "message_image"}
              %i.fa.fa-image
          %input.new-message__submit-btn{type: "submit", name: "commit", value: "Send"}
