%body
  = render 'layouts/flash'
  = yield
  .wrapper
    .chat-side
      .side-header
        %p.side-header__username
          = current_user.name
        %ul.user-menu
          %li.user-menu__edit-user
            = link_to new_group_path do
              %i.fa.fa-edit
          %li.user-menu__new-group
            = link_to edit_user_path(current_user.id) do
              %i.fa.fa-cog
      .groups
        - current_user.groups.each do |group|
          = render partial: "group", locals: {group: group}
    .chat-main
      .main-header
        .current-group
          %h2.current-group__name= @group.name
          %ul.member-list
            Member : 
            - @group.users.each do |user|
              %li.member-list__member &nbsp;
              = user.name
        = link_to edit_group_path(@group) do
          .main-header__edit-btn Edit
      .messages
        = render @chats
      .form
        = form_for [@group, @chat], id: "new_message", remote: true do |f|
          .input-box
            = f.text_field :message, class: "input-box__text", id: "message_content", placeholder: "type a message"
            = f.label :image, class: "image-label" do
              %i.fa.fa-image
              = f.file_field :image, class: 'hidden'              
          = f.submit "Send", class: "new-message__submit-btn"
      -# .form
      -#   = form_for [@group, @chat], id: "new_message" do |f|
      -#     = f.text_field :message, class: 'form__message', placeholder: 'type a message'
      -#     .form__mask
      -#       = f.label :image, class: 'form__mask__image' do
      -#         = fa_icon 'picture-o', class: 'icon'
      -#         = f.file_field :image, class: 'hidden'
      -#     = f.submit 'Send', class: 'form__submit'